.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 20px;
}

.content {
  text-align: center;
  color: red;
}

.box {
  width: 100px;
  background-color: cadetblue;
  margin: 10px;
  padding: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  box-shadow: 5px 5px;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.blog-content {
  width: 80%;
  height: 200px;
  float: left;
}
.blog-img {
  width: 20%;
  height: 200px;
  float: left;
}
.blog-profile {
  width: 50px;
  display: block;
  float: left;
}
.blog-name {
  float: left;
}
.navbar li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}
.navbar a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.nav {
  margin-left: auto;
  margin-right: auto;
}
