@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
@font-face {
  font-family: "이쁜폰트";
  src: url(../font/NanumSquareR.woff);
}
div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "이쁜폰트";
}
.flex-container {
  display: flex;
  height: 80px;
  align-items: center;
  background-color: palevioletred;
  color: white;
  font-size: large;
  font-weight: bold;
  justify-content: space-between;
  padding: 20px;
}
.flex-item-logo {
  display: flex;
  flex-grow: 1;
}
.flex-item-menu {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
}
.menu {
  padding: 50px;
}
.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px 1px;
  text-align: center;
  position: relative;
}
.main-title {
  color: white;
  font-size: 40px;
  margin-top: 200px;
}
.main-content {
  color: antiquewhite;
  font-size: 30px;
}
.main-button {
  padding: 15px;
  font-size: 20px;
  background: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 110px;
  z-index: 5;
}
.explain-box {
  width: 60%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: -40px;
}
.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.form-background {
  background-color: black;
  padding: 30px;
}
.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}
.w-100 {
  width: 100%;
  padding: 10px;
}
.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}
.yellow-button {
  padding: 10px;
  display: block;
  margin-left: auto;
  background-color: yellow;
}
.product-container {
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.product-container div {
  float: left;
  width: 25%;
}
i {
  font-size: 50px;
  display: flex;
  background-color: beige;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  padding-top: 25px;
  margin-top: 15px;
}

.shop__container {
  display: flex;
  width: 90%;
  margin: auto;
}
.shop__item {
  position: relative;
  width: 33%;
  padding: 15px;
}
.shop__item img {
  width: 100%;
  display: block;
}
.overlay-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.overlay-black {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 100%;
  transition: all 1s;
  padding: 20px;
}
.overlay-wrap:hover .overlay-black {
  margin-top: 50%;
}
.pseudo::after {
  color: grey;
  font-size: 15px;
  content: "감사합니다";
}
progress {
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  color: red;
}
progress::-webkit-progress-inner-element {
}
progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background-color: red;
  border-radius: 2px;
}

@media screen and (max-width: 1200px) {
  .product-container div {
    float: left;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .product-container div {
    float: left;
    width: 100%;
  }
}
