.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px 1px;
  text-align: center;
  position: relative;
}
.main-title {
  color: white;
  font-size: 40px;
  margin-top: 200px;
}
.main-content {
  color: antiquewhite;
  font-size: 30px;
}
.main-button {
  padding: 15px;
  font-size: 20px;
  background: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 110px;
}
