.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px 1px;
}
.main-title {
  color: white;
  font-size: 40px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.main-article {
  color: antiquewhite;
  font-size: 30px;
}
