.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 20px;
}

.content {
  text-align: center;
  color: red;
}

.box {
  width: 100px;
  background-color: cadetblue;
  margin: 10px;
  padding: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  box-shadow: 5px 5px;
}

.container {
  width: 800px;
}
.header {
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}
.left-menu {
  width: 20%;
  height: 400px;
  background-color: cornflowerblue;
  /* float: left; */
  display: inline-block;
}
.right {
  width: 80%;
  height: 400px;
  background: coral;
  /* float: left; */
  display: inline-block;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  /* clear: both; */
}
